.container {
  display: grid;
  grid-template-columns: 40% 15% 10% 30%;
  box-sizing: border-box;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  border-bottom: 1px solid #444b57;
}
